# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# macOS
.DS_Store

# VS Code
.vscode/settings.json

# Azure
.azure/

# Logs
*.log
